  
.book-search {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    color: #edf0f1;
}

button {
    margin-left: 20px;
    padding:9px 25px;
    background-color: rgba(0,136,169,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
}

button:hover {
    background-color: rgba(0,136,169,0.8);

}